<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(title='关于我',keywords=null)"></div>
<body>
<article class="main-content post-page">
    <div class="post-content">
        <h3>关于我</h3>
        <p>Name : 张卫庆 <font color="grey">(叫我小张)</font></p>
        <p>Email : zwq20110815@gmail.com</p>
        <a href="https://github.com/z790704069">
            <u><font color="blue">Github </font></u>
        </a>&nbsp;&nbsp;
        <a href="https://twitter.com/weiqing_zhang">
            <u><font color="blue">Twitter </font></u>
        </a>&nbsp;&nbsp;
        <a href="https://www.facebook.com/profile.php?id=100015373092649">
            <u><font color="blue">Facebook </font></u>
        </a>&nbsp;&nbsp;
        <a href="https://blog.csdn.net/z644041867">
            <u><font color="blue">CSDN </font></u>
        </a>&nbsp;&nbsp;
    </div>
    <p></p>
    <p></p>
    <div>
        <font color="grey" size="3">
            「对技术说不上痴狂，但是始终热爱，坚信技术/数据能够产生价值。」
        </font>
    </div>
    <div>
        <font color="grey" size="3">
            「在平凡的工作生活中，记录碎片化 or 体系化的知识和生活感悟。」
        </font>
    </div>
    <div>
        <font color="grey" size="3">
            「认识自我以及这个世界是一种兴趣，学习则是途径。」
        </font>
    </div>
    <div>
        <font color="grey" size="3">
            「技术风口，资本角逐，时代在变，吾辈皆为凡人，未来可以想象，也会意想不到。」
        </font>
    </div>
    <div>
        <p><img width="170" height="170" src="https://www.kooola.com/upload/2018/10/ujbuli4uu6ipiobr7bspkrmqdc.jpg"/></p>
        <p><font color="grey">扫码关注公众号</font><font color="red">"Kooola大数据"</font> <font color="grey">:) 聊人生 | 聊技术</font> </p>
    </div>
</article>

</body>
</html>