<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(null,null)"></div>

<body>
<article class="main-content post-page">
<div id="post-content" class="post-content">
    <h3>分类</h3>
    <th:block th:each="c : ${categories}">
        <div class="btn-group m-b-10">
            <th:block th:unless="${c.name == '默认分类'}">
                <a th:href="${commons.categoryLink(c)}" >
                    「<u><font color="blue"> <th th:text="${c.name} + ' ('+${c.count}+')'"/></font></u>」
                </a>
            </th:block>
        </div>
    </th:block>
</div>
</article>
</body>



<!--<div th:replace="themes/default/footer::footer"></div>-->
</html>