<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(null,null)"></div>

<body>
<article class="main-content post-page">
    <div id="post-content" class="post-content">
        <h3>友情链接</h3>
        想与本站互为友链的朋友
        <a target="_BLANK" href="https://github.com/z790704069/kooola-links/issues/1">
            <font color="red" >『请点击这里』</font>
        </a>
        我会尽量一一回复，期待与你的交流
        <p></p>

        <th:block th:each="link : ${links}">
            <div>
                <a target="_BLANK"  th:href="${link.slug}">
                    「<u><font color="blue"><th th:text="${link.name}"/></font></u>」
                </a>
            </div>
        </th:block>
    </div>
</article>

</body>
</html>