<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(title='友情链接',keywords=null)"></div>
<body>
<article class="main-content post-page">
    <div id="post-content" class="post-content">
        <h3>About</h3>
        <pre><code class="lang-md hljs markdown">
            欢迎扫码关注微信公众号（或在公众号中搜索<b><font color="red">"kooola"</font></b>）
            <img src="https://www.kooola.com/user/img/wxgzh.png"/>

            Blog Name：考拉的网络日志
            Site：<a href="https://www.kooola.com">kooola.com</a>
            Name: 张卫庆
            E-mail：zwq20110815@gmail.com
            CSDN: https://blog.csdn.net/z644041867
        </code></pre>

        </div>
</article>

</body>
<div th:replace="themes/default/footer::footer"></div>
</html>