<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:yh="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(${article.title},${article.tags})"></div>
<body>
<article class="main-content post-page" itemscope="" itemtype="http://schema.org/Article">
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline">
            <a th:href="${commons.permalink(article)}" th:text="${article.title}" data-no-instant=""></a>
        </h1>
        <div class="post-data">
            <time th:datetime="${commons.fmtdate(article.created)}" itemprop="datePublished" th:text="'发布于 '+ ${commons.fmtdate(article.created)}"></time>
            <th:block th:utext="${commons.show_categories(article.categories)}"/>
            <th:block th:text="${article.hits}"/> 浏览
        </div>
    </div>
    <div id="post-content" class="post-content" itemprop="articleBody">
        <p class="post-tags" th:utext="${commons.show_tags(article.tags)}"></p>
        <th:block th:utext="${commons.article(article.content)}"/>

        <p>
            <img height="200" width="200" src="https://www.kooola.com/upload/2018/10/ujbuli4uu6ipiobr7bspkrmqdc.jpg"/>
            <center><font color="grey">关注微信公众号</font><font color="red"> "Kooola大数据" </font> <font color="grey">:) 聊人生 | 聊技术</font></center>
        </p>
    </div>
</article>
</body>
</html>